.tile {
  width: 100%;
  padding: 0px 15px 15px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top-color: #6c8258;
  border-top-width: 3px;
}
.tile-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.floors-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  height: 115%;
  transition: all 0.2s ease-in-out;
}
h2{
  margin-bottom: 0px;
}
