.nav-bar {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(235 235 235);
}
.middle-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  img {
    width: 50px;
  }
  .app-name {
    font-family: fantasy;
    font-size: larger;
    color: #6c8258;
  }
}
